 /* Shared */
 html, body, #app, #app>div, #root {
     height: 100vh;
 }

 @font-face {
     font-family: 'Kubots';
     src: url(./fonts/KubotsExtraLight-EaE1z.ttf);
 }

 @font-face {
     font-family: 'SFP';
     src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
 }

 html * {
     font-family: 'SFP' !important;
 }

 .title-font {
     font-family: 'Kubots' !important;
     font-weight: 1000 !important;
 }

 /* end Shared */

 /* SliderImg */
 @keyframes fade {
     0%, 100% {
         opacity: 0
     }

     90% {
         opacity: 1
     }
 }

 .img-slider {
     height: 100%;
     max-height: 400px;
     width: auto;
     object-fit: contain;
     animation: fade 4s infinite;
 }

 /* end SliderImg */

 /* SymphonySlider */

 .slider {
     position: relative;
     top: 30px;
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .image {
     max-height: 350px;
     max-width: 600px;
     border-radius: 10px;
 }

 .right-arrow {
     position: absolute;
     top: 50%;
     right: 200px;
     font-size: 4rem !important;
     color: #FFB5B4;
     z-index: 10;
     cursor: pointer;
     user-select: none;
 }

 .left-arrow {
     position: absolute;
     top: 50%;
     left: 200px;
     font-size: 4rem !important;
     color: #FFB5B4;
     z-index: 10;
     cursor: pointer;
     user-select: none;
 }

 .slide {
     opacity: 0;
     transition-duration: 2s ease;
 }

 .slide.active {
     opacity: 1;
     transition-duration: 2s;
     transform: scale(1.08);
 }

 .container-height {
     max-height: 250px;
     margin-bottom: 20px;
 }

 @media only screen and (max-height: 800px) {
     .container-height {
         max-height: 200px;
     }
 }

 @media only screen and (max-height: 700px) {
    .container-height {
        margin-top: 65px!important;
        max-height: 150px;
    }
}

 @media only screen and (max-width: 1200px) {

     .image {
         max-height: 300px;
     }

     .right-arrow {
         right: 100px;
     }

     .left-arrow {
         left: 100px;
     }

 }


 /* end SymphonySlider */



 /* SplashScreen */

 .title-logo {
     font-size: 240px !important;
     color: #FF5E5B;
     line-height: 200px !important;
 }

 .title-button {
     font-size: 50px !important;
     color: #FFF;
 }

 .image-upc {
     position: absolute;
     right: 30px;
     bottom: 30px;
     height: 100px;
     width: 100px;
 }

 /* end SplashScreen */

 /* Login */

 .title-login {
     font-size: 180px !important;
     color: #FF5E5B;
     line-height: 200px !important;
     padding-top: 50px !important;
 }

 /* end Login */

 /* AppBar */
 .title-appbar {
    font-size: 8vw !important;
    color: #FF5E5B;
    line-height: 10px !important;
}

 /* end AppBar */
